.box {
  height: 4vw;
  width: 4vw;
  min-width: 35px;
  min-height: 35px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 0px;
}

.box-style {
  border: 5px outset #a4a4a4;
  background: linear-gradient(145deg, #c5c5c5, #eaeaea);
}

.box-safe {
  border: 5px inset #a4a4a4;
  background: linear-gradient(145deg, #6e6e6e, #444444);
}

.box-mine {
  border: 5px inset #a4a4a4;
  background: linear-gradient(145deg, #fd0000, #ff2e2e);
}
